@import "normalize.css";
$bgColor: #161612;
$fontColor: #F5F5F5;
$highlightColor: #99AA4B;
$highlightColorTint: #CAD49D;
$fontColorShade: #EBEBEB;

body {
  background: $bgColor;
  font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6, p, span {
  color: $fontColor;
}

a {
  text-decoration: none;
  color: $highlightColor;
}

a:hover {
  color: $highlightColorTint
}

main section {
  margin-bottom: 30px;
  padding: 0px 15px;

  h2 {
    font-size: clamp(40.45px, 1.5vw, 64px);
    margin-top: 0px;
  }
}