#app-listing {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-row-gap: 10px;

  li {
    display: flex;
    align-items: center;

    &:nth-of-type(odd) {
      img {
        border-radius: 20px;
      }
    }

    &:nth-of-type(even) {
      img {
        border-radius: 100px;
      }
    }
  }

  .genre-list {
    margin: 0;
    padding: 0;
    display: flex;

    li {
      margin-right: 10px;
    }
  }

  h2 {
    font-size: clamp(25px, 1.5vw, 40px);
    margin: 0;
  }

  img {
    width: clamp(50px, 1.5vw, 200px);
    margin-right: 10px;
  }
}