@import "normalize.css";

#app-listing {
  list-style: none;
  margin: 0;
  padding: 0;

  li:nth-of-type(odd) {
    img {
      border-radius: 20px;
    }
  }

  li:nth-of-type(even) {
    img {
      border-radius: 100px;
    }
  }

  h2 {
    font-size: 40px;
  }

  img {
    width: clamp(100px, 1.5vw, 200px);
  }
}