$bgColor: #161612;
$fontColor: #F5F5F5;
$highlightColor: #99AA4B;
$highlightColorTint: #CAD49D;

#app-recommendation {
  display: block;
  z-index: 2;
  position: sticky;
  top: 0px;
  background: $bgColor;

  ul {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    overflow-x: scroll;
    scroll-snap-type: x proximity;

    li {
      scroll-snap-align: end;
      display: flex;
      flex: 0 0 100%;
      justify-content: center;
      align-items: center;

      h3 {
        font-size: clamp(25px, 1.5vw, 40px);
        color: $fontColor;
        margin: 0 0 15px;

        &:hover {
          color: $highlightColor;
        }

        a {
          color: inherit;
        }
      }

      img {
        border-radius: 20px;
        width: clamp(100px, 1.5vw, 400px);
        margin-right: 10px;
      }
    }
  }
}

@media(width >=1280px) {
  #app-recommendation {
    ul {
      li {
        flex: 0 0 50%;
      }
    }
  }
}