<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="manifest" href="/manifest.json" />
<meta name="theme-color" content="#fcbe03"/>
<link rel="apple-touch-icon" href="/favicon/512.png">
<link rel="icon" href="/favicon/512.png">
<script defer type="module" src="/js/app.js"></script>
